/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/notes/filter/FilterLayout.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.FilterLayout_layout__ap4Af {
  display: flex;
  gap: 24px;
}

.FilterLayout_sidebar__i2b3W {
  width: 240px;
}

.FilterLayout_content__x0coi {
  flex: 1 1;
}

