/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/notes/not-found.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.not-found_title__ksCO9 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}

.not-found_description__H7t7_ {
  font-size: 18px;
  color: #555;
}

